.home{
    width: 100%;
    min-height: 500px;
    background-color: red;
}
.image {
    background-image: url("../assets/hospital2.avif");
    width: 100%;
    min-height: 500px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}